*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:Poppins,sans-serif;
background:#0f1a14;
color:#f5f5f5;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

/* ================= NAVBAR ================= */

.navbar{
position:fixed;
top:0;
width:100%;
background:rgba(15,26,20,.8);
backdrop-filter:blur(10px);
padding:22px 0;
z-index:999;
}

.nav-wrapper{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:22px;
letter-spacing:3px;
font-weight:300;
}

nav a{
margin-left:30px;
color:#bbb;
text-decoration:none;
font-size:13px;
letter-spacing:1px;
}

nav a:hover{
color:#c3a86b;
}


/* ================= FOOTER ================= */

.footer{
  padding:70px 0 50px;
  background:#0b130f; /* ijo gelap */
  text-align:center;
  position:relative;
}

.footer-inner{
  width:90%;
  max-width:800px;
  margin:auto;
}

/* Brand */
.footer h4{
  font-family:"Playfair Display", serif;
  font-size:30px;
  letter-spacing:4px;
  font-weight:400;
  color:#f5f5f5;
  margin-bottom:20px;
}

/* Divider emas */
.footer-divider{
  width:70px;
  height:2px;
  background:#c3a86b;
  margin:0 auto 26px;
}

/* Description */
.footer-desc{
  font-size:13px;
  line-height:1.9;
  letter-spacing:1px;
  color:#cfcfcf;
  margin-bottom:32px;
}

/* Copyright */
.footer-copy{
  font-size:11px;
  letter-spacing:2px;
  color:#999;
}

/* ================= MOBILE ================= */

@media(max-width:768px){
  .footer{
    padding:55px 0 40px;
  }

  .footer h4{
    font-size:24px;
  }

  .footer-desc{
    font-size:12px;
  }
}



/* ================= MOBILE ================= */

@media(max-width:900px){

.hero-premium-wrap{
flex-direction:column;
text-align:center;
}

.hero-left img{
width:100%;
}

.hero-right h1{
font-size:44px;
}

.mini-products{
justify-content:center;
}

.hero-premium::after{
display:none;
}

.about-wrapper{
justify-content:center;
text-align:center;
}

}
